<h1> This is a reserved Users' List</h1>

#Use of instance variable of random_user from users_controller
<h2> Welcome <%= @random_user %></h2>

#Inclass exercise
<% name="John" %>
<%= "Welcome " + name %>
<h1> Welcome <%= name %></h1>

Exercise - Print Hello World static message with a variable component using ERB syntax(scriptlets)
<% for i in 1..10 %>
<h2> Hello World <%= i %> </h2>
<% end %>



